body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
    padding: 10px 0 10px 10px;
    background-image: url('bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
main {
    /* background-color: #1e1e1e; */
    border-radius: 5px;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); */
    max-width: 1200px;
    margin: auto;
    padding: 25px;
    /* border: groove 5px #0094ac; */
    margin-left: 260px;
}

* p,a {
    font-family: Verdana, sans-serif;
}
* h1 {
    font-family: Garamond, serif;
}
/*
    Header
*/
.aboutme {
    position: fixed;
    top: 10%;
    left: 20px;
    width: 200px;
    background-color: #1e1e1e;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    padding: 18px;
    z-index: 1000;
    border: groove 5px #0094ac;
    text-align: center;
}
.aboutme img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; 
}
.fa {
    padding: 5px;
    border: 1px solid #0094ac;
    border-radius: 50%;
}
/*
    Navigation, Bottom left of screen, sticks, is a functioning button, and has a dropdown menu which scrolls to the section
*/
.nav-menu button {
    padding: 5px;
    border: solid 5px #0094ac;
    border-radius: 50%;
}
.nav-menu ul {
    display: none;
    position: absolute;
    background-color: #444;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin-top: 10px;
    right: 0;
    z-index: 1000;
}
.nav-menu ul.show {
    display: block;
}
/*
    Header
*/
a:hover {
    color: #ffffff;
    background-color: #0094ac;
}
/*
    Body
*/

.Header1 div, .Header2 div, .Header3 div, .Header4 div,.Header5 div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.Header1 div h1,.Header2 div h1,.Header3 div h1,.Header4 div h1,.Header5 div h1 {
    background-color: #444;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    flex: 1;
    margin: 10px 0;
    width: 100%;
}
.container {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}

.Header1 .content, .Header2 .content, .Header3 .content, .Header4 .content, .Header5 .content {
    display: none;
    width: 100%;
    background-color: #444;
    padding: 10px 20px;
    border-radius: 5px;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    max-height: 0;
}

/*
    Body - Header4
*/
.Header4.show .content {
    display: block;
    max-height: 500px;
}
.Header4 div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Header4 div.show .content {
    display: block;
}
.Header1.show .content, .Header2.show .content, .Header3.show .content, .Header4.show .content, .Header5.show .content {
    display: block;
    max-height: 500px;
}

/*
    Never to be touched again
*/
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-google {
    background: #dd4b39;
    color: white;
}
.fa-android {
    background: #a4c639;
    color: white;
}
.fa-tumblr {
    background: #2c4762;
    color: white;
}
.fa-reddit {
    background: #ff5700;
    color: white;
}

footer {
    position: fixed;
    bottom: 10px;
    left: 10px;
    background-color: #1e1e1e;
    color: #e0e0e0;
    padding: 1px 5px;
    border: groove 5px #0094ac;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}